extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut justo nunc. Proin hendrerit porta ipsum, ac mollis metus varius at. Aliquam fringilla condimentum enim, nec aliquet nunc scelerisque aliquet. Duis eget commodo libero, sit amet viverra eros. Ut sed porta diam, vel feugiat velit.  Nam id eros sed ligula dapibus tincidunt a in ante. Donec ut volutpat justo. Donec arcu nunc, laoreet at commodo at, luctus et turpis. 

                p Morbi sit amet urna sit amet mauris accumsan varius id quis neque. Aliquam pulvinar rhoncus nulla non finibus. In imperdiet orci velit, bibendum bibendum dolor blandit ac. Ut blandit sagittis orci, vel interdum erat semper sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla consectetur ornare mattis. Suspendisse viverra placerat purus et aliquet. Pellentesque et enim luctus, feugiat ipsum eu, congue nisi.

                p Sed blandit, orci nec vulputate rutrum, erat dui efficitur massa, sed volutpat augue magna vel elit. Donec et urna non mauris convallis sodales sit amet sollicitudin nulla. Cras eget urna eu lorem dapibus maximus. Donec eget metus neque. Mauris ut lobortis odio. Donec in malesuada ipsum, sed malesuada mauris. In hac habitasse platea dictumst. 

    .listado-iconos    
        .container.mt-5.py-5.text-center   
            .row   
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed blandit, orci nec vulputate rutrum, erat dui efficitur massa, sed volutpat augue magna vel elit. Donec et urna non mauris convallis sodales sit amet sollicitudin nulla. Cras eget urna eu lorem dapibus maximus. Donec eget metus neque. Mauris ut lobortis odio. Donec in malesuada ipsum, sed malesuada mauris. In hac habitasse platea dictumst. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed blandit, orci nec vulputate rutrum, erat dui efficitur massa, sed volutpat augue magna vel elit. Donec et urna non mauris convallis sodales sit amet sollicitudin nulla. Cras eget urna eu lorem dapibus maximus. Donec eget metus neque. Mauris ut lobortis odio. Donec in malesuada ipsum, sed malesuada mauris. In hac habitasse platea dictumst. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Sed blandit, orci nec vulputate rutrum, erat dui efficitur massa, sed volutpat augue magna vel elit. Donec et urna non mauris convallis sodales sit amet sollicitudin nulla. Cras eget urna eu lorem dapibus maximus. Donec eget metus neque. Mauris ut lobortis odio. Donec in malesuada ipsum, sed malesuada mauris. In hac habitasse platea dictumst. 